<header>
    <div class="header__top bg-dark">
        <div class="container">
            <div class="text-white align-items-center p-2 d-none d-md-flex">
                <div class="col-lg-6 col-md-7">
                    <p class="m-0">Miễn phí vận chuyển, bảo đảm đổi trả hoặc hoàn tiền trong 30 ngày...</p>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right text-end">
                        <a href="/users/dangnhap" class="text-decoration-none text-uppercase text-white px-2">Log In</a>
                        <a href="#" class="text-decoration-none text-uppercase text-white px-2">FAQs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-2 col-md-3">
                <div class="header__logo py-2">
                    <img class="img-fluid" src="/images/logo.png" alt="">
                </div>
            </div>
            <div class="col-lg-7 col-md-6 justify-content-center">
                <nav class="nav header__menu justify-content-center">
                    <a class="nav-link fs-5 fw-semibold text-black home active" aria-current="page" href="/">Trang chủ</a>
                    <a class="nav-link fs-5 fw-semibold text-black shop " href="/loai">Cửa hàng</a>
                    <div class="menu-lv1 position-relative">
                        <a class="nav-link fs-5 fw-semibold text-black page" href="#">Trang</a>
                        <nav class="menu-lv2 bg-black">
                        </nav>
                    </div>
                    <a class="nav-link fs-5 fw-semibold text-black blog" href="#">Blog</a>
                    <a class="nav-link fs-5 fw-semibold text-black contact" href="#">Liên hệ</a>
                    </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__icon d-flex justify-content-end align-items-center px-">
                    <a href="#" class="text-black fs-5"><i class="fa-solid fa-magnifying-glass"></i></a>
                    <a href="#" class="text-black fs-5"><i class="fa-sharp fa-solid fa-heart"></i></a>
                    <div class="cart d-flex justify-content-center align-items-center">
                        <a href="cart.html" class="text-black fs-5 position-relative"><i class="fa-solid fa-cart-shopping"></i>
                        <div class="position-absolute countProduct fs-6 fw-bolder"></div>
                        </a>
                        <!-- <div class="price mx-2 fw-semibold">$25.00</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>